=============== 
Unity generated
===============
Temp/
Library/
Builds/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sln
*.csproj

# ============================
# Initial .gitignore follows
# ============================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/WolfGamesSite/WolfGamesSite/bin
/WolfGamesSite/WolfGamesSite.Tests/bin/Debug
/WolfGamesSite/WolfGamesSite/SimpleGames/WebGl/MarbleMotion/Release
/WolfGamesSite/WolfGamesSite/SimpleGames/WebGl/MarbleMotion/TemplateData
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/WolfGamesSite.DAL.Tests.pdb
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/WolfGamesSite.DAL.Tests.dll
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/WolfGamesSite.DAL.pdb
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/WolfGamesSite.DAL.dll
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/EntityFramework.xml
/WolfGamesSite/WolfGamesSite.DAL.Tests/bin/Development/EntityFramework.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.DAL.pdb
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.DAL.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.API.Tests.pdb
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.API.Tests.dll.config
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.API.Tests.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.API.pdb
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/WolfGamesSite.API.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.Razor.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.Razor.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.Deployment.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.WebPages.Deployment.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Razor.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Razor.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Optimization.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Optimization.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Mvc.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Mvc.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.WebHost.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.WebHost.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.Owin.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.Owin.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Http.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Helpers.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Web.Helpers.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Net.Http.Formatting.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/System.Net.Http.Formatting.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Owin.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Newtonsoft.Json.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Newtonsoft.Json.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Web.Infrastructure.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.OAuth.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.OAuth.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.Cookies.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.Security.Cookies.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.Owin.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.Owin.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.Owin.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.EntityFramework.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.EntityFramework.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.Core.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/Microsoft.AspNet.Identity.Core.dll
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/EntityFramework.xml
/WolfGamesSite/WolfGamesSite.API.Tests/bin/Development/EntityFramework.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.Tests.pdb
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.Tests.dll.config
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.Tests.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.pdb
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.DAL.pdb
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/WolfGamesSite.DAL.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.Razor.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.Razor.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.Deployment.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.WebPages.Deployment.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Razor.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Razor.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Optimization.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Optimization.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Mvc.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Mvc.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.WebHost.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.WebHost.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.Owin.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.Owin.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Http.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Helpers.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Web.Helpers.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Net.Http.Formatting.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/System.Net.Http.Formatting.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/VBCSCompiler.exe.config
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/VBCSCompiler.exe
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/vbc.rsp
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/vbc.exe.config
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/vbc.exe
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.Reflection.Metadata.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.IO.FileSystem.Primitives.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.IO.FileSystem.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.Diagnostics.StackTrace.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.Collections.Immutable.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/System.AppContext.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.VisualBasic.Core.targets
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CSharp.Core.targets
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CodeAnalysis.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/csi.rsp
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/csi.exe
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/csc.rsp
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/csc.exe.config
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/roslyn/csc.exe
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Owin.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Newtonsoft.Json.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Newtonsoft.Json.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Web.Infrastructure.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.Facebook.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.Facebook.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.Cookies.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Security.Cookies.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Host.SystemWeb.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.Host.SystemWeb.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.Owin.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.Owin.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.Owin.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.EntityFramework.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.EntityFramework.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.Core.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/Microsoft.AspNet.Identity.Core.dll
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/EntityFramework.xml
/WolfGamesSite/WolfGamesSite.Tests/bin/Development/EntityFramework.dll
