=============== 
Unity generated
===============
Temp/
Library/
Builds/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sln
*.csproj

# ============================
# Initial .gitignore follows
# ============================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/WolfGamesSite/WolfGamesSite/bin
/WolfGamesSite/WolfGamesSite.*/bin
/WolfGamesSite/WolfGamesSite.*.Tests/bin
/WolfGamesSite/WolfGamesSite/SimpleGames
/WolfGamesSite/.vs
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/WolfGamesCoreSite.exe
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Threading.Tasks.Extensions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Text.Encodings.Web.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Runtime.InteropServices.RuntimeInformation.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Runtime.CompilerServices.Unsafe.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Reflection.Metadata.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Numerics.Vectors.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Interactive.Async.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Diagnostics.DiagnosticSource.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Composition.TypedParts.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Composition.Runtime.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Composition.Hosting.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Composition.Convention.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Composition.AttributedModel.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.ComponentModel.TypeConverter.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.ComponentModel.Primitives.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Collections.Immutable.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/System.Buffers.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Remotion.Linq.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/NuGet.Frameworks.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Newtonsoft.Json.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGeneration.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.VisualStudio.Web.BrowserLink.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Net.Http.Headers.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.WebEncoders.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Primitives.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.PlatformAbstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Options.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.ObjectPool.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Logging.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Logging.Debug.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Logging.Console.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Logging.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Localization.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Localization.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Globalization.CultureInfoCache.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.FileSystemGlobbing.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.FileProviders.Physical.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.FileProviders.Composite.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.FileProviders.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.DiagnosticAdapter.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.DependencyModel.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.DependencyInjection.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.UserSecrets.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.Json.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.FileExtensions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.Binder.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Configuration.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.CommandLineUtils.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Caching.Memory.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.Extensions.Caching.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.SqlServer.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.Relational.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.Relational.Design.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.EntityFrameworkCore.Design.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.DotNet.PlatformAbstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.CodeAnalysis.Workspaces.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.CodeAnalysis.Workspaces.Desktop.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.CodeAnalysis.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.CodeAnalysis.CSharp.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.WebUtilities.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.StaticFiles.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Server.Kestrel.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Server.IISIntegration.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Routing.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Routing.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Razor.Runtime.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Razor.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.TagHelpers.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Razor.Host.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Razor.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Localization.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Cors.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Core.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.ApiExplorer.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Mvc.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Localization.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.JsonPatch.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Identity.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.HttpOverrides.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Http.Features.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Http.Extensions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Http.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Http.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Html.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Hosting.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Hosting.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Diagnostics.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.DataProtection.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.DataProtection.Abstractions.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Cryptography.Internal.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Cors.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Authorization.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Authentication.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Authentication.Cookies.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AspNetCore.Antiforgery.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.ApplicationInsights.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.ApplicationInsights.AspNetCore.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AI.ServerTelemetryChannel.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AI.PerfCounterCollector.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AI.DependencyCollector.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/Microsoft.AI.Agent.Intercept.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/libuv.dll
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Debug/net452/win7-x86/dotnet-aspnet-codegenerator-design.exe
/WolfGamesCoreSite/WolfGamesCoreSite/bin/Release/net452/win7-x86
/WolfGamesCoreSite/WolfGamesCoreSite/bin
/WolfGamesCoreSite/WolfGamesCoreSite/Properties/PublishProfiles/WolfGamesCoreSite20170812105640 - Web Deploy.pubxml
/WolfGamesCoreSite/WolfGamesCoreSite/Properties/PublishProfiles/CustomProfile1.pubxml
/WolfGamesCoreSite/WolfGamesCoreSite/Properties/PublishProfiles/CustomProfile.pubxml
/WGMicrosoftAPITest/WGMicrosoftAPITest/bin/Debug/netcoreapp2.0
/WGMicrosoftAPITest/WGMicrosoftAPITest/Controllers/HomeController.cs
/WGMicrosoftAPITest/.vs
/WGMicrosoftAPITest/WGCodeLanguageAPI/bin/Debug/netcoreapp2.0
/WGMicrosoftAPITest/WGCodeLanguageXUnitTest/bin/Debug/netcoreapp2.0
/WGMicrosoftAPITest/WGMicrosoftAPITest/ScaffoldingReadMe.txt
/WGMicrosoftAPITest/WGCodeLanguageAPI/bin/Release/netcoreapp2.0
/WGMicrosoftAPITest/WGCodeLanguageXUnitTest/bin/Release/netcoreapp2.0
/WGMicrosoftAPITest/WGMicrosoftAPITest/bin/Release/netcoreapp2.0
/WGMicrosoftAPITest/WGMicrosoftAPIDocumentation/Help
/WolfGamesSite/WolfGamesSite/Developers/WGLibraries
/WolfGamesSite/WolfGamesSite/wwwroot/Developers/WGLibraries
/WolfGamesSite/WolfGamesSite/wwwroot/SimpleGames/WebGl
/WolfGamesDocumentation/WolfGamesAPILibraryDocumentation/Help
/WGMicrosoftAPI/.vs/WGMicrosoftAPI/v15/sqlite3
/WGMicrosoftAPI/WGMicrosoftAPITest/wwwroot
/WGMicrosoftAPI/WGSystem/bin
/WGMicrosoftAPI/WGSystemXUnitTest/bin
*.bowerrc
/WGMicrosoftAPI/WGMicrosoftAPITest/bower.json
/WGMicrosoftAPI/WGMicrosoftAPITest/bundleconfig.json
/WGMicrosoftAPI/WGMicrosoftAPITest/bin/Debug/netcoreapp2.0
/WGMicrosoftAPI/.vs/config
/WGMicrosoftAPI/WGMicrosoftAPITest/bin/Release/netcoreapp2.0
/WolfGamesDocumentation/WolfGamesTestThirdPartyAPIDocumentation/Help
/WolfGamesSite/WolfGamesSite/wwwroot/Developers/WGTest3rdPartyAPI
