<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Remove"></configSections>
  <connectionStrings xdt:Transform="Replace">
    <remove name="DefaultConnection" />
    <add name="DefaultConnection"
      connectionString="Server=WolfGamesTestDB.db.10916435.hostedresource.com;Database=WolfGamesTestDB;User ID=WolfGamesTestDB;Password=Acc3ss@M41n;Trusted_Connection=False;"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings xdt:Transform="Remove"></appSettings>
  <system.web>
    <authentication xdt:Transform="Remove"></authentication>
    <httpRuntime xdt:Transform="Remove"/>
  </system.web>
  <system.webServer xdt:Transform="Remove"></system.webServer>
  <entityFramework xdt:Transform="Remove"></entityFramework>
  <system.codedom xdt:Transform="Remove"></system.codedom>
</configuration>