a
{
    text-decoration: underline;
    color: #000000;
    font-weight: 900;
}
a:hover
{
    color: #800080;
    font-style: italic;
}
a:visited
{
    color: purple;
}
body
{
    color: #FFFFFF;
    font-size: xx-large;
}
th
{
    color: #3366FF;
    font-weight: bold;
    font-size: 2em;
}
p
{
    font-size: large;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
h1
{
    font-size: xx-large;
    font-weight: bolder;
    color: #FFFFFF;
}
h2
{
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
}
