@{
    ViewData["Title"] = "Thank You!";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h1 class="text-center tangerinefont"><strong class="title">Thank You!</strong></h1>
    <p>For giving us the opportunity to serve you.</p>
</div>
